version: 1
services:
  - name: kapusta-beckend
    type: web
    env: node
    startCommand: yarn && start:prod
    rootDir: src
    autoDeploy: true
    branch: master
    plan: free
  databases:
  - name: elephant
    region: frankfurt
    plan: free
